/* start your styling here  */
.container{
    display: flex;
    border-radius: 20%;
}

.second{
    width: 900px;
    background-color: aqua;
    font-size: 20px;
}
.first{
    width: 300px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(154, 236, 236);
    font-size: 20px;
    
}

.kholi{
    border-radius: 50px;
}

.image{
    padding-left: 80px;
}

.main{
    padding-top: 20px;
}

.main .streams{
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
    align-items: center;
    padding-left: 50px;
}

img{
    border-radius: 50%;
}

.sep{
    background-color: rgb(69, 236, 181);
    width: 250px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.outside{
    padding: 50px;
}
.block{
    border-radius: 10px;
    width: 700px;
    background-color: rgb(219, 234, 248);
    display: flex;
    justify-content: space-evenly;
}



.active{
    width: 190px;
    padding-top: 20px;
    padding-left: 50px;
   
}

.con{
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}

.per{
    padding: 30px;
}
p{
    background-color: rgb(145, 202, 202);
    color: rgb(145, 202, 202) ;
    border-radius: 5px;
}

.pro{
    padding-left: 50px;
    background-color: rgb(81, 81, 121);
    
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
