/* start your styling here  */


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    justify-content: space-around;
}
.sidenav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.a{
    text-decoration: none;
    color: black;
}

.heading{
    width: 500px;
    padding-left: 200px;
    
}

.con{
    color: rgb(238, 119, 119);
    font-size: 35px;
}

input{
    width: 350px;
    padding: 10px;
}

.poli{
    width: 380px;
    font-size: 12px;
}

.small{
    width: 55px;
}

.big{
    width: 380px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(32, 32, 223);
    color: aliceblue;
}

.empty{
    margin-top: 15px;
    display:  flex;
    align-items: center;
}

.one, .two{
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
    height: 2px;
    width: 35%;
}

.or{
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.694);
}

.bottom{
    padding-left: 80px;
}

.office{
    width: 600px;
    height: 400px;
}

.body{
    display: flex;
}

.small{
    width: 80px;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    color: rgb(23, 23, 223);
    border-radius: 30px;
    border-color: rgb(123, 123, 216);
}